body
{
	background-color: #202020;
	background-image: url(img/compteur.jpg);
	background-size: cover;
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-decoration: none;
}
#background
{
	width: 100%;
	height: auto;
}
#header
{
	background-color: #202020;
	background-image: url(img/degrade.jpg);
	border-bottom: #000000 solid 1px;
	width: 100%;
	padding-right: 20px;
	height: 50px;
	position: fixed;
	left: 0px;
	top: 0px;
}
#global_content
{
	background-color: #202020;
	width: 90%;
	margin-left: 5%;
	margin-top: 100px;
	margin-bottom: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #FF3300;
	border-radius: 30px;
}
.images
{
	width: 90%;
	margin-left: 5%;
}
.pane
{
	vertical-align: top;
	display: inline-block;
	max-width: 44%;
	min-width: 300px;
}
.image
{
	width: 100%;
	border-radius: 10px;
	height: auto;
}
.price
{
	margin-top: 50px;
	vertical-align: top;
	display: inline-block;
	min-width: 50%;
}
.description
{
	margin-top: 100px;
	display: inline-block;
}
.link
{
	color: #FF3300;
	font-family: Futura;
	font-size: 1em;
	text-decoration: none;
}
.link:hover
{
	color: #FFFFFF;
}
.text
{
	position: relative;
	font-family: Futura;
	font-size: 1.vw;
	width: 90%;
	color: white;
	text-align: center;
}
.text:hover
{
	color: #FFFFFF;
}
.buttons
{
	display: inline-block;
	height: 50px;
	width: 95px;
}
#home_button
{
	position: absolute;
	left: 10px;
	top: 0px;
	height: 50px;
	width: auto;
}
#cart_button
{
	position: absolute;
	left: 70px;
	top: 3px;
	height: 42px;
	width: auto;	
}
#categ
{
	position: absolute;
	top: 12px;
	left: 140px;
}
#sign_in
{
	position: absolute;
	top: 12px;
	right: 40px;
}
#sign_up
{
	position: absolute;
	top: 12px;
	right: 110px;
}
#sign_out
{
	position: absolute;
	top: 12px;
	right: 40px;	
}
input
{
	border-radius: 4px;
	width: 180px;
	height: 30px;
}
#required
{
	text-align: left;
}
#login
{
	margin-top: 30px;
}
#password
{
	margin-top: 30px;
}
#confirm
{
	margin-top: 30px;
}
#connect
{
	margin-top: 50px;
	width: 160px;
	height: 50px;
	border-radius: 15px;
	font-size: 0.9em;
	font-family: Futura;
	color: #FFFFFF;
	background-color: #202020;
}
#add_cart
{
	display: inline-block;
	margin-top: 50px;
	width: 160px;
	height: 50px;
	border-radius: 15px;
	font-size: 0.9em;
	font-family: Futura;
	color: #FFFFFF;
	background-color: #202020;
}
#pay
{
	display: inline-block;
	margin-top: 50px;
	width: 160px;
	height: 50px;
	border-radius: 15px;
	font-size: 0.9em;
	font-family: Futura;
	color: #FFFFFF;
	background-color: #202020;
}
.car
{
	text-decoration: none;
	color: #FFFFFF;
}
.car:hover
{
	text-decoration: underline;
}
table
{
	width: 50%;
	border: 3px solid #FFFFFF;
	border-collapse: collapse;
}
th
{
	border-bottom: 3px solid #FFFFFF;
	height: 50px;
	font-size: 1vw;
	background-color: #303030;
}
td
{
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
	height: 50px;
}
.first
{
	border-left: 1px solid #FFFFFF;
}
.last
{
	border-right: 1px solid #FFFFFF;
}
ul
{
	max-width: 300px;
	min-width: 300px;
	text-align: center;
	display: inline-block;
}
li
{
	font-family: Futura;
	font-size: 1.vw;
	color: white;
}
li:hover
{
	text-decoration: underline;
}
a
{
	text-decoration: none;
	color: white;
}
h1
{
	color: #808080;
}
.admin
{
	margin-left: 60px;
	width: 200px;
	display: inline-block;
}
.admin2
{
	margin-left: 30px;
	width: 80%;
	display: inline-block;
	vertical-align: top;
	color: white;
}
.admin_button
{
	display: block;
	margin-top: 50px;
	width: 100%;
	height: 50px;
	border-radius: 15px;
	font-size: 0.9em;
	font-family: Futura;
	color: #FFFFFF;
	background-color: #202020;	
}