.car img
{
	width: 200px;
}

.car
{
	display: inline-block;
	margin: auto 20px;
}

.car p
{
	margin-top: 10px;
	border-bottom: 1px solid #222;
	padding-bottom: 20px;
}

.cat
{
	border-bottom: 1px solid #222;
	padding-bottom: 40px;
	margin-bottom: 20px;
}

.cat a
{
	margin: 10px;
}

.brand
{
	margin: auto 10px;
	padding: 0;
}