body {
	font: 14px verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}

#menu {
	background: #333;
	height: 35px;
	width: 580px;
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 20px auto;
}

#menu li{
	float: left;
	width: 145px;
	height: 40px;
}

#menu a{
	color: #fff;
	text-decoration: none;
    padding-top: 10px;
    display: block;
}

#menu .sous_menu {
	display: none;
	list-style-type: none;
	background-color: #333;
    margin-top: 8px;
    padding: 0;
    border: 0;
}

#menu .sous_menu li {
	float: none;
    padding: 0;
    border: 0;
    width: 145px;
}

#menu li:hover {
    height: 40px;
	background-color: #F2462E;
    -webkit-transition: all 800ms;
    transition: all 800ms;
}

#menu li a:active {
	background-color: #5F879D;
}

#menu .sous_menu li a:link, #menu .sous_menu li a:visited {
    display: block;
    color: #fff;
    margin: 0;
    border: 0;
    text-decoration: none;
}

#menu .sous_menu li:hover {
    background-color: #F2462E;
     -webkit-transition: all 800ms;
    transition: all 800ms;
}

#menu li:hover > .sous_menu {
	display: block;
}








#menu .sous_sous_menu {
    display: none;
    list-style-type: none;
    background-color: #555;
    margin-top: 8px;
    padding: 0;
    border: 0;
    position: relative;
    left: 145px;
    bottom: 35px;
}

#menu .sous_sous_menu li {
    padding: 0;
    border: 0;
    width: 145px;
}

#menu .sous_sous_menu li a:link, #menu .sous_sous_menu li a:visited {
    display: block;
    color: #fff;
    margin: 0;
    border: 0;
    text-decoration: none;
}

#menu .sous_sous_menu li:hover {
    background-color: #F2462E;
     -webkit-transition: all 800ms;
    transition: all 800ms;
}

#menu li:hover > .sous_sous_menu {
    display: block;
}







#menu .sous_sous_sous_menu {
    display: none;
    list-style-type: none;
    background-color: #777;
    margin-top: 8px;
    padding: 0;
    border: 0;
    position: relative;
    left: 145px;
    bottom: 35px;
}

#menu .sous_sous_sous_menu li {
    padding: 0;
    border: 0;
    width: 145px;
}

#menu .sous_sous_sous_menu li a:link, #menu .sous_sous_sous_menu li a:visited {
    display: block;
    color: #fff;
    margin: 0;
    border: 0;
    text-decoration: none;
}

#menu .sous_sous_sous_menu li:hover {
    background-color: #F2462E;
     -webkit-transition: all 800ms;
    transition: all 800ms;
}

#menu li:hover > .sous_sous_sous_menu {
    display: block;
}
