body
{
	background-color: black;
	color: #7BAEFF;
}
table
{
	width: 80%;
	margin: auto;
}
td 
{
	border: 1px solid #CFCFCF;
	background-color: #272727;
	width: 5%;
}
td.void
{
	border: none;
	background-color: black;
}
.M
{
	font-size: 0.8vw;
	text-align: right;
	font-family: arial;
	margin-right: 3px;
	margin-top: 3px;
	color: #ABDEFF;
}
.Symbol
{
	font-size:2.5vw;
	font-family: impact;
	color:#E73333;
	text-align: center;
}
.Name
{
	font-size: 0.7vw;
	font-family: arial;
	text-align: center;
	color: #7BAEFF;
}
.Z
{
	font-size: 1vw;
	font-family: arial;
	text-align: left;
	color: #FFCC66;
	margin-left: 3px;
}
#lalu, #aclr
{
	font-size: 1.8vw;
}
.lalu
{
	background-color: #444;
}
.aclr
{
	background-color: #666;
}
h1
{
	text-align: center;
}
h3
{
	font-family: arial;
	text-align: center;
	margin: 2% auto;
}
p
{
	font-family: arial;
	text-align: center;
	width: 60%;
	margin: 2% auto;
}
img
{
	width: 20%;
	margin: 2% auto;
	display: block;
}
